<footer class="flex flex-row items-center justify-between fixed bottom-0 w-screen brand-red py-4 px-6 h-14 text-white">
    <a href="/"><img class="w-8" src="/images/home-white.png" alt="home"></a>
    <a href="/"><img class="w-8" src="/images/search-icon.png" alt="profile"></a>
    <a href="/newpost"><img class="w-7" src="/images/plus-icon.png" alt="post"></a>
    <a href="/"><img class="w-8" src="/images/bell-icon.png" alt="post"></a>
    <a href="/profile"><img class="w-7" src="/images/profile-white.png" alt="profile"></a>   
</footer>