<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Buddy</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="/images/icon-black.png">

    <style>
        :root {
          --color-custom: rgb(238, 62, 56);
          --color-custom2: rgb(238, 62, 56, 0.9);
        }
        .brand-red {
          background-color: var(--color-custom);
          /* Additional styles for the custom element */
        }
        .custom-red {
          border-color: var(--color-custom2);
          /* Additional styles for the custom element */
        }
    </style>

</head>
<body>

    <div class="flex flex-col h-screen bg-white overflow-auto"> 

        <!-- Navbar -->
        <%- include('./partials/navbar') %>
    
        <!-- Main content -->
        <div class="flex flex-row">
            <div class="flex flex-col mb-14">

                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Ethan Lehman</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Back Squat</p>
                    <p class="pb-2">1 Set x 1 Rep | 505lb</p>
                    <p class="pb-3">Big PR Today!!!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen mb-2">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Hunter Atkins</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Deadlift</p>
                    <p class="pb-2">1 Set x 1 Rep | 700lb</p>
                    <p class="pb-3">Pulled up on em :D PR baby!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Ethan Lehman</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Back Squat</p>
                    <p class="pb-2">1 Set x 1 Rep | 505lb</p>
                    <p class="pb-3">Big PR Today!!!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" id="post.id" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen mb-2">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Hunter Atkins</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Deadlift</p>
                    <p class="pb-2">1 Set x 1 Rep | 700lb</p>
                    <p class="pb-3">Pulled up on em :D PR baby!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Ethan Lehman</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Back Squat</p>
                    <p class="pb-2">1 Set x 1 Rep | 505lb</p>
                    <p class="pb-3">Big PR Today!!!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen mb-2">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Hunter Atkins</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Deadlift</p>
                    <p class="pb-2">1 Set x 1 Rep | 700lb</p>
                    <p class="pb-3">Pulled up on em :D PR baby!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Ethan Lehman</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Back Squat</p>
                    <p class="pb-2">1 Set x 1 Rep | 505lb</p>
                    <p class="pb-3">Big PR Today!!!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <div id="post.id" class="border-2 rounded-md custom-red my-1 pl-2 w-screen mb-2">
                    <div class="flex flex-row items-center pt-2 pb-2">
                        <img class="w-8" src="/images/person-icon.png">
                        <div class="pl-2 justify-between">
                            <p class="text-lg font-semibold">Hunter Atkins</p> 
                            <p class="text-xs">05/18/23 9:00PM</p> 
                        </div>
                    </div>
                    <p class="pb-2 font-semibold">Deadlift</p>
                    <p class="pb-2">1 Set x 1 Rep | 700lb</p>
                    <p class="pb-3">Pulled up on em :D PR baby!</p>
                    <div class="flex flex-row pb-3 pl-1">
                        <img class="w-6" src="/images/heart-icon.png">
                        <img class="w-6 ml-4" src="/images/comment-icon.png">
                    </div>
                </div>
                <!-- End Post -->

            </div>

        </div>
    
        <!-- Footer -->
        <%- include('./partials/footer') %>
    



    </div>

</body>
</html>